<%= form_for @my_iot_device, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :ipv4_address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ipv4_address, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :installed_firmware_version, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :installed_firmware_version, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  my_iot_devices_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
