<h1>Listing iotdevices</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>User</th>
      <th>Product url</th>
      <th>Updates url</th>
      <th>Base version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iotdevices.each do |iotdevice| %>
      <tr>
        <td><%= iotdevice.manufacturer %></td>
        <td><%= iotdevice.user %></td>
        <td><%= iotdevice.product_url %></td>
        <td><%= iotdevice.updates_url %></td>
        <td><%= iotdevice.base_version %></td>
        <td><%= link_to 'Show', iotdevice %></td>
        <td><%= link_to 'Edit', edit_iotdevice_path(iotdevice) %></td>
        <td><%= link_to 'Destroy', iotdevice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iotdevice', new_iotdevice_path %>
