<%= form_for @firmware, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :download_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :download_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :version, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :version, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :readme_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :readme_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :readme_title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :readme_title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :readme_description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :readme_description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :enabled, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :enabled, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :requirements, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :requirements, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  firmwares_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
