<%- model_class = Firmware -%>
<div class="page-header">
  <h1><%=t '.title', :default => Firmware %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:download_url) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:readme_url) %></th>
      <th><%= model_class.human_attribute_name(:readme_title) %></th>
      <th><%= model_class.human_attribute_name(:readme_description) %></th>
      <th><%= model_class.human_attribute_name(:enabled) %></th>
      <th><%= model_class.human_attribute_name(:requirements) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @firmwares.each do |firmware| %>
      <tr>
        <td><%= firmware.id %></td>
        <td><%= firmware.download_url %></td>
        <td><%= firmware.version %></td>
        <td><%= firmware.name %></td>
        <td><%= firmware.readme_url %></td>
        <td><%= firmware.readme_title %></td>
        <td><%= firmware.readme_description %></td>
        <td><%= firmware.enabled %></td>
        <td><%= firmware.requirements %></td>
        <td><%=l firmware.created_at, format: :long %></td>
        <td>
          <%= link_to firmware_path(firmware), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to firmware_path(firmware), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_firmware_path,
            :class => 'btn btn-primary' %>
